.keyboard-column {
  width: 45px;
  height: 45px;
  border: 1px solid gray;
  display: block;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wide {
  width: 65px;
}

.img {
  width: 23px;
  height: 23px;
  background-color: black;
}
